<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.github.lexleontiev.chatexample.app.ui.ComposeActivity"
            android:exported="true" />
    </application>

</manifest>